<h1>Tile History</h1>

<% @user_tiles.each do |tile| %>
  <div class="tile_message">
    <%=tile.message%>
    <div class="play-button" data-track="<%= tile.track_id %>">
      <div class="triangle"></div>
    </div>
  </div>
  <% track = @client.get("/tracks/#{tile.track_id}") %>
  <div class="song song_feed" >

    <p><%=track.title%> | <strong><%=song_length_converter(track.duration)%></strong></p>

    <audio controls preload="none" id="<%= tile.track_id %>">
      <source src="<%=track.stream_url%>?client_id=<%=SOUNDCLOUD_CLIENT_ID%>" />
    </audio>
  </div>
  <div class="center">
    <h4> <%= link_to "Delete", delete_tile_path(tile.id), method: :delete, data: {confirm: "You sure?"} %> </h4>
  </div>
  <br/>
  <br/>
<% end %>
