
<% @tiles.each do |tile| %>
  <div id="tile_message">
    <%=tile.message%>
  </div>
  <div class="song" id="song_feed">
    <% track = @client.get("/tracks/#{tile.track_id}") %>
    <p>Title: <%=track.title%> | <strong><%=song_length_converter(track.duration)%></strong></p>

    <audio controls preload="none">
      <source src="<%=track.stream_url%>?client_id=<%=SOUNDCLOUD_CLIENT_ID%>" />
    </audio>

  </div>
<br/>
<% end %>

