<!DOCTYPE html>
<html>
<head>
  <title>RevlyApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- Persistant Navigation Bar -->
  <header class="nav_bar">
    <%= link_to"Home", root_path, class: "nav" %> |

    <!-- Logic to dynamically display correct log in/out option -->
    <% if logged_in? %>
      <%= link_to "Log out", "/logout", method: "delete", class: "nav" %>
    <% else %>
      <%= link_to "Log In", "/login", class: "nav" %>
    <% end %>

  </header>

<%= yield %>

</body>
</html>
