<!DOCTYPE html>
<html>
<head>
  <title>RevlyApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <link href='http://fonts.googleapis.com/css?family=Jura' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- Persistant Navigation Bar -->
  <header class="nav_bar">
    <%= link_to"Home", root_path, class: "nav" %> |

    <!-- Logic to dynamically display correct log in/out option -->
    <% if logged_in? %>
      <%= link_to "Create a Tile", new_tile_path, class: "nav" %> |
      <%= link_to "Log out", logout_path, method: "delete", class: "nav" %>
    <% else %>
      <%= link_to "Log In", "/login", class: "nav" %>
    <% end %>

  </header>
  <div class="spacer">
  </div>
<%= yield %>
<br/>
</body>
</html>
